.Menu {
  position: fixed;
  top: 0;
  width: 320px;
  height: 100%;
  background-color: #F5F5F5;
  z-index: 5;
  left: 0px;
  transition: left 200ms;
}
.Menu.-hidden {
  left: -320px;
}
@media (min-width: 768px) {  
  .Menu {
    top: 56px;
  }
  .Menu.-hidden, .Menu.-visible {
    left: 0;
  }
  .Menu_closeButton {
    display: none !important;
  }
}

.Menu_closeButton {
  width: 100%;
}
.Menu_item {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: left;
  transition: all 300ms;

  font-family: 'norwester';
  font-size: 14px;
}
.Menu_item.-active {
  color: black;
  background-color: #dcdcdc;
}

.Menu_item_icon {
  width: 24px;
  margin-right: 10px;
  fill: #888888;
  transition: all 300ms;

}
.Menu_item.-active .Menu_item_icon {
  fill: #000;
}
