.ScreenshotPage {
  background-color: #FFF;
  padding: 1em 0;
}

@media (min-width: 420px) {
  .ScreenshotPage {
    padding: 1em;
  }
}

.ScreenshotPage__header {
  max-width: 1024px;
  margin: 0 auto 1em;
  text-align: center;
}

.ScreenshotPage__header .columns {
  align-items: baseline;
}

.ScreenshotPage__header__title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0;
}
.ScreenshotPage__header__title.-isSolved {
  color: green;
}
.ScreenshotPage__header__title.-isSolved::after {
  content: '';
  width: 12px;
  height: 20px;
  border-bottom: 5px solid green;
  border-right: 5px solid green;
  display: inline-block;
  transform: rotate(45deg);
  position: relative;
  left: 15px;
  bottom: 2px;
}

.ScreenshotPage__header__username {
  text-align: center;
}

.ScreenshotPage__screenshot {
  text-align: center;
}

.ScreenshotPage__screenshot__image__container {
  text-align: center;
}

.ScreenshotPage__screenshot__image {
  max-width: 100%;
}
.ScreenshotPage__screenshot__image.-hidden {
  /* height: 0; */
}

.ScreenshotPage__form {
  padding: 1em 0;
  max-width: 1024px;
  margin: auto;
}

@media (min-width: 769px) {
  .ScreenshotPage__header__title {
    padding: 0.75em;
  }

  .ScreenshotPage__header__username {
    text-align: right;
  }

  .ScreenshotPage__form__next__container {
    text-align: right;
  }
}
