.ScreenshotsGrid {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.ScreenshotsGrid_item {
  box-shadow: 1px 1px 3px #777;
  margin-bottom: 20px;
}

.ScreenshotsGrid_item_image {
  width: 320px;
  height: 180px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.ScreenshotsGrid_item_legend {
  padding: 7px;
  margin-top: -2px;
}
.ScreenshotsGrid_item_legend_name {
  font-size: 16px;
  font-weight: bold;
}

.ScreenshotsGrid_item_legend_alternativeName {
  font-size: 14px;
  font-weight: bold;
}

.ScreenshotsGrid_item_legend_approve {
  text-align: center;
  margin: 12px 0 8px;
}
.ScreenshotsGrid_item_legend_approve_button {
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  display: inline-flex;
  align-items: center;
}
.ScreenshotsGrid_item_legend_approve_button:hover {
  text-decoration: underline;
}
.ScreenshotsGrid_item_legend_approve_button svg {
  width: 18px;
  padding-right: 5px;
}
.ScreenshotsGrid_item_legend_approve_button.-approve, .ScreenshotsGrid_item_legend_approve_button.-approve svg {
  color: #03ae46;
  fill:  #03ae46;
} 
.ScreenshotsGrid_item_legend_approve_button.-reject, .ScreenshotsGrid_item_legend_approve_button.-reject svg {
  color: #fd464c;
  fill:  #fd464c;
}
