.Homepage {
  text-align: center;
}

.Homepage_title {
  font-size: 28px;
  margin: 30px 20px 15px;
}

.Homepage_subtitle {
  font-size: 18px;
  margin: 50px auto;
  padding: 0 20px;
  max-width: 720px;
}
.Homepage_subtitle p {
  font-weight: 100;
  margin: 10px 0;
}

.Homepage_playButton {
  width: 295px;
  height: 40px;
  background-color: #fd464c;
  color: #ffffff;
  font-family: Norwester;
  font-size: 23px;
}

.Homepage_lastAddedScreenshot {
  display: block;
  max-width: 1024px;
  margin: 50px auto 10px;
  border: 1px solid #EDF2F5;
  box-shadow: 0 0 20px #F8F8F8;
  border-radius: 5px;
  padding: 10px 20px 20px;
}

.Homepage_lastAddedScreenshot_title {
  margin: 5px 0 10px;
  font-size: 24px;
}
.Homepage_lastAddedScreenshot_subtitle {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 300;
}
.Homepage_lastAddedScreenshot_shot_container {
  width: 768px;
  max-width: 100%;
  margin: auto;
}

.Homepage_lastAddedScreenshot_shot {
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
