.EditScreenshotPage_form_screenshot_label {
  margin-bottom: 5px;
}

.EditScreenshotPage_form_screenshot_dropzone {
  height: 130px;
  border: 1px dashed #47525e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.EditScreenshotPage_form_screenshot_dropzone.-hover {
  border-style: solid;
  background-color: #EEE;
}

.EditScreenshotPage_form_screenshot_dropzone.-preview {
  height: 0px;
  padding-bottom: 56.25%;
}

.EditScreenshotPage_form_screenshot_dropzone_dropText {
  margin-bottom: 0.5em;
}

.EditScreenshotPage_form_screenshot_loading {
  height: 50px;
  text-align: center;
}

.EditScreenshotPage_form_screenshot_name_container {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.EditScreenshotPage_form_screenshot_name {
  background-color: #fd464c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.EditScreenshotPage_form_screenshot_name_reset {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.EditScreenshotPage_form_alternativeNames_extra {
  color: #888890;
  font-size: 13px;
}

.EditScreenshotPage_form_alternativeNames {
  margin: 1em 0;
}
.EditScreenshotPage_form_alternativeNames_input {
  display: block;
  width: 100%;
  margin: 5px 0;
  border: 1px solid #8492A6;
  border-radius: 0;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}

.EditScreenshotPage_form_alternativeNames_add {
  border: 1px solid #8492A6;
  padding: 5px 10px;
  border-radius: 3px;
}

.EditScreenshotPage_form_error {
  color: #fd464c;
  font-weight: bold;
  text-align: center;
}
