{
  "secret": "CHANGE-ME-TO-REAL-SECRET",
  "database": {
    "database": "guessthegame",
    "user": "CHANGE-ME",
    "password": "CHANGE-ME"
  },
  "logger": {
    "console": {
      "level": "debug"
    }
  },
  "cloudinary": {
    "apiKey": "CHANGE-ME",
    "apiSecret": "CHANGE-ME",
    "imagesUrlPrefix": "CHANGE-ME"
  }
}
