.AddedScreenshotsPage_item_add {
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
}
.AddedScreenshotsPage_item_add_icon {
  height: 50px;
  width: 50px;
  fill: #555;
  transition: all 300ms;
}
.AddedScreenshotsPage_item_add~.AddedScreenshotsPage_item_legend {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddedScreenshotsPage_item_add:hover .AddedScreenshotsPage_item_add_icon {
  fill: black;
  color: black !important;
}
