.PagesSwitcher {
  width: 200px;
  margin: 20px auto 10px;
  text-align: center;
}
@media (min-width: 480px) {
  .PagesSwitcher {
    margin: 50px auto 30px;
  }
}

.PagesSwitcher_link {
  display: inline-block;
  padding: 5px 0;
  width: 100px;
  font-size: 16px;
  background: #FFFFFF;
  box-sizing: border-box;
}
.PagesSwitcher_link.-active {
  background: #EAEAEB;
  z-index: 1;
  position: relative;
  border: 1px solid #EAEAEB;
}
.PagesSwitcher_link:not(.-active) {
  border: 1px solid #EDF2F5;
}
