.ScreenshotsFoundPage_content {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.ScreenshotsFoundPage_item {
  width: 280px;
  height: 200px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Norwester;
}
