.ScreenshotsAddedPage_content {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.ScreenshotsAddedPage_item {
  box-shadow: 1px 1px 3px #777;
  margin-bottom: 20px;
  background-size: cover;
}

.ScreenshotsAddedPage_item_image {
  width: 320px;
  height: 180px;
}

.ScreenshotsAddedPage_item_legend {
  padding: 5px;
  margin-top: -2px;
}
.ScreenshotsAddedPage_item_legend_name {
  font-size: 16px;
  font-family: Norwester;
}


.ScreenshotsAddedPage_item_add {
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
}
.ScreenshotsAddedPage_item_add_icon {
  height: 50px;
  width: 50px;
  fill: #555;
  transition: all 300ms;
}
.ScreenshotsAddedPage_item_add~.ScreenshotsAddedPage_item_legend {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ScreenshotsAddedPage_item_add:hover .ScreenshotsAddedPage_item_add_icon {
  fill: black;
  color: black !important;
}
