body {
  background-color: #f0f0f0;
  min-height: 100vh;
}

button {
  background: none;
  border: none;
}

.container {
  padding: 0 0.5em;
}

.smallContainer {
  width: 40em;
  max-width: 90%;
  margin: auto;
  margin-top: 2em;
  background-color: #fff;
  padding: 3em 2em;
}
