body {
  min-height: 100vh;
}

@font-face {
  font-family: 'Norwester';
  src: url('/fonts/Norwester-Regular.woff2') format('woff2'),
      url('/fonts/Norwester-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
